html, body{
    max-width: 1440px;
    min-width: 320px;
    height: 100%;
    width: 100%;
    font-size: 19px;
}

header, main, footer{
    max-width: 1200px;
}

:root{
    font-family:'Poppins', sans-serif;;
    --brand-color: #d6fb00;
    --main-color: #FFFFFF;
    --font-title: 'Kanit', sans-serif;
}

body{background-color: #191919;}
h1, h2, h3, .email-tel{color: #FFFFFF;}
h4{color: #dcdcdc;}
p{color: #8f8f8f;}
a{color: #8f8f8f; text-decoration: none;}
li{list-style-type: none; color: #8f8f8f;}
.color-text, .brand-color-text{color: #d6fb00;}
.pricing-card{background-color: rgba(143, 143, 143, 0.05);}
.yellow-card{background-color: #d6fb00;}

*{
    box-sizing: border-box;
    margin: 0;
}

h2{font-family: var(--font-title); font-size: 38px;}