.footer {
    padding: 40px 25px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

.footer-content__logo-img{
    width: 130px;
}

.footer-pr{
    font-size: 15px;
    padding: 20px 0;
}

.footer__social-icons{
    padding: 10px 25px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-menu__nav, .footer-menu__info, .footer-menu__clients {
    padding: 20px 0;
}

.footer-menu-title{
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 20px;
}

.footer-link{
font-size: 17px;
}

.footer-subscribe-pr {
    font-size: 14px;
    padding: 40px 0;
}

.footer-subscribe__form{
    display: flex;
    flex-direction: column;
}

.subscribe__form{
    margin: 5px 0;
}

.subscribe-email{
    background: rgba(116, 116, 116, 0.05);
    border-color: transparent;
    width: 280px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.subscribe-btn{
    background: var(--brand-color);
    border-color: transparent;
    width: 280px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.footer-splitline{
    height: 1px; 
    width: 100%; 
    background-color: rgba(143, 143, 143, 0.35);
    margin-top: 50px;
}

.underfooter{
    padding: 30px 0;
}

.underfooter-pr{
    font-size: 14px;
}